* {
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;
    width: 80%;
    margin: auto;
    background-color: aqua;
    border: 2px solid black;
}

table tr td {
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}